@import url("https://fonts.googleapis.com/css?family=Proza+Libre:400,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Proza Libre', sans-serif; }

::selection {
  background: #7c3383;
  color: white; }

@media (max-width: 991px) {
  .xm-none {
    display: none; }
  #collection-top-img .collection-top-text p {
    font-size: 16px; }
  #collection-top-img h1 {
    font-size: 21px; }
  #products-header .border_left {
    border-left: 0px solid #a6a6a6 !important; } }

@media (max-width: 767px) {
  #top-navbar {
    display: none; }
  .toggle-btn {
    background-color: #ffff; }
  #collection-top-img .collection-top-text p {
    font-size: 15px; }
  #order-menu .order-badge {
    font-size: 14px !important; } }

@media (max-width: 576px) {
  #top-navbar {
    display: none; }
  .toggle-btn {
    background-color: #ffff; }
  #collection-top-img .collection-top-text p {
    font-size: 14px; }
  #collection-top-img h1 {
    padding-top: 15px; }
  #order-menu ul {
    padding-top: 5px;
    padding-bottom: 40px; }
  #order-menu .order-badge {
    font-size: 14px !important; }
  #order-menu .badge:after {
    right: 28% !important; } }

@media (max-width: 375px) {
  #top-overlay .font-fix {
    font-size: 3rem;
    font-weight: 500; }
  #getstarted .font-fix {
    font-size: 3.5rem; }
  #collection-top-img .collection-top-text h1 {
    padding-top: 15px; }
  #order-menu .order-badge {
    font-size: 14px !important; } }

@media (max-width: 320px) {
  #order-menu .order-badge {
    font-size: 10px !important; } }

.current {
  box-shadow: 0 0 20px rgba(247, 159, 31, 0.3);
  border-radius: 10px; }

body {
  background-color: #f1f1f1; }
  body a:hover {
    color: #F79F1F; }

.scroll-downs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 34px;
  height: 55px; }

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box; }

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite; }

@keyframes scroll {
  0% {
    opacity: 0; }
  10% {
    transform: translateY(0);
    opacity: 1; }
  100% {
    transform: translateY(15px);
    opacity: 0; } }

.ss {
  width: 200px;
  height: 140px; }

.sidebar-container {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #2c3e50;
  transition: .3s;
  z-index: 100; }

ul {
  margin: 0; }

li {
  margin-top: 10px;
  padding: 2px 0px;
  list-style-type: none; }

.sidebar li a:hover {
  box-shadow: 0 0 10px rgba(247, 159, 31, 0.2);
  border-radius: 10px;
  transition-duration: 0.3s; }

.sidebar li a {
  color: #fff;
  display: block;
  text-decoration: none;
  text-transform: capitalize; }

a:hover {
  color: #ccc; }

.toggle-btn {
  background-color: rgba(225, 255, 255, 0.3);
  position: absolute;
  top: 2px;
  right: -50px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  cursor: pointer;
  border: none; }

.sidebar-span {
  display: block;
  width: 30px;
  height: 3px;
  position: absolute;
  top: 25px;
  left: 10px;
  transition: .3s;
  background-color: #000; }

.sidebar-span:before {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  position: absolute;
  top: -10px;
  left: 0px;
  transition: .3s;
  background-color: #000; }

.sidebar-span:after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  position: absolute;
  top: 10px;
  left: 0px;
  transition: .3s;
  background-color: #000; }

.active {
  left: 0; }

.toggle-btn.toggle .sidebar-span {
  background-color: transparent; }

.toggle-btn.toggle .sidebar-span:before {
  top: 0;
  background-color: red;
  transform: rotate(45deg); }

.toggle-btn.toggle .sidebar-span:after {
  top: 0;
  background-color: red;
  transform: rotate(-45deg); }

#submenu1 {
  background: #2f3542; }

.navbar {
  height: 100px;
  background: #2c3e50;
  opacity: 0.9;
  position: relative;
  z-index: 99; }
  .navbar .nav-item {
    font-size: 1.2rem;
    padding-right: 20px; }
    .navbar .nav-item .nav-link {
      color: #ffff; }
    .navbar .nav-item .nav-link:hover {
      box-shadow: 0 0 10px rgba(247, 159, 31, 0.2);
      border-radius: 10px;
      transition-duration: 0.3s; }
  .navbar .nav-item:last-child {
    padding-right: 0; }
  .navbar .logo {
    width: 120px;
    height: 70px; }
  .navbar .top-dropdown {
    background: #2c3e50; }
    .navbar .top-dropdown .top-dropdown-item {
      color: #ffff; }
    .navbar .top-dropdown .top-dropdown-item:hover {
      background: #2c3e50;
      box-shadow: 0 0 10px rgba(247, 159, 31, 0.2);
      border-radius: 10px;
      transition-duration: 0.3s; }

#top-overlay {
  background-image: url("../img/bg1.png");
  min-height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover; }
  #top-overlay h1 {
    font-size: 4rem; }
  #top-overlay .primary-overlay {
    background: rgba(0, 0, 0, 0.8);
    min-height: 600px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%; }
  #top-overlay .btn-outline-light:focus {
    box-shadow: none; }

.top-btn {
  width: 48px;
  height: 40px;
  padding-top: 18px;
  padding-left: 15px;
  margin-right: 5px;
  border-radius: 3px 3px 0 0; }

#furniture h2 {
  border: 1px solid #ccc; }

#furniture p {
  font-size: 1rem; }

#quality {
  background: #fff; }
  #quality p {
    font-size: 1rem; }
  #quality img {
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 2px solid #F79F1F;
    position: relative; }
  #quality .video-icon {
    left: 50%;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 35%;
    font-size: 2rem; }
  #quality .video-icon:hover {
    color: rgba(255, 0, 0, 0.7); }

#video-overlay {
  background-image: url("../img/bg1.png");
  min-height: 700px;
  position: relative;
  background-repeat: no-repeat;
  background: cover;
  background-size: cover; }
  #video-overlay .primary-overlay {
    background: rgba(0, 0, 0, 0.8);
    min-height: 700px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%; }
  #video-overlay .btn-outline-light:focus {
    box-shadow: none; }

.video-section .border-box {
  border: 1px solid #fbcb84;
  margin-top: 120px; }

.video-section h2 {
  color: #fbcb84;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2.5rem; }

.video-section i {
  font-size: 1.5rem; }

.video-section p {
  font-size: 1.1rem; }

#about-us {
  font-size: 1rem; }
  #about-us .about-us-img {
    border-radius: 0.3rem; }
  #about-us h3 {
    border: 1px solid #ccc; }

#footer {
  background-color: #000; }
  #footer .footer-logo {
    width: 100px;
    height: 80px; }

#getstarted {
  position: relative;
  background: url("../img/about.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; }
  #getstarted .dark-overlay {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #getstarted h2 {
    font-size: 5rem; }

#about-wooden-furniture h3 {
  font-size: 3rem;
  background: linear-gradient(to left, #7065d6, #e66ad5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#about-wooden-furniture p {
  font-size: 1.1rem; }

#about-wooden-furniture img {
  width: 350px;
  height: 200px;
  position: relative; }

#about-wooden-furniture .about-video-header {
  font-size: 2rem;
  font-weight: 700; }

#about-wooden-furniture .about-video-icon1 {
  left: 50%;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 35%;
  font-size: 2rem; }

#about-wooden-furniture .about-video-icon1:hover {
  color: rgba(255, 0, 0, 0.7); }

#about-wooden-furniture .about-video-icon3 {
  left: 50%;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 60%;
  font-size: 2rem; }

#about-wooden-furniture .about-video-icon2:hover {
  color: rgba(255, 0, 0, 0.7); }

#team {
  background: #fff; }
  #team h2 {
    font-weight: 700;
    font-size: 2rem;
    border: 1px solid #ccc; }
  #team .team1 {
    transition: box-shadow .3s; }
  #team .team1:hover {
    box-shadow: 0 0 20px rgba(100, 206, 249, 0.4); }

#happiest-clients {
  font-size: 1.1rem; }
  #happiest-clients h2 {
    font-weight: 700;
    font-size: 2rem;
    border: 1px solid #ccc; }
  #happiest-clients .shadows:hover {
    box-shadow: 0 0 20px rgba(100, 206, 249, 0.4); }
  #happiest-clients .client-img {
    border-radius: 50%;
    width: 200px;
    height: 200px; }
  #happiest-clients .client-img:hover {
    transition: 0.3s;
    border-radius: 2px; }

#location {
  background-color: #ccc; }
  #location .address {
    background-color: #f2f2f2; }
  #location h2 {
    font-weight: 700;
    font-size: 2rem;
    border: 1px solid #ccc; }

#store-top-overlay {
  position: relative;
  background: url("../img/store-bg2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 70vh; }
  #store-top-overlay .primary-overlay {
    background: rgba(20, 20, 20, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh; }

#category h2 {
  font-weight: 700;
  font-size: 2rem;
  border: 1px solid #ccc; }

#category .store-filter button {
  border: 1px solid #ccc; }

#all-products-section .container {
  border: 1px solid #ccc; }

#all-products-section h2 {
  font-weight: 700;
  font-size: 2rem;
  border: 1px solid #ccc; }

#all-products-section .hover-effect:hover {
  box-shadow: 0 0 20px rgba(100, 206, 249, 0.4); }

#collection-top-img .padding-solve {
  padding-left: 0px;
  padding-right: 0px; }

#collection-top-img .collection-top-text {
  background-color: #fff;
  font-size: 21px; }

#contact-top-overlay {
  position: relative;
  background: url("../img/contact-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 70vh; }
  #contact-top-overlay .primary-overlay {
    background: rgba(20, 20, 20, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh; }
  #contact-top-overlay strong {
    color: #F79F1F; }

#send-message {
  background: #f2f2f2; }
  #send-message h2 {
    text-shadow: 0 0 25px rgba(247, 159, 31, 0.5); }
  #send-message input {
    height: 60px;
    border-radius: 25px 25px 25px 25px; }
  #send-message textarea {
    border-radius: 25px 25px 25px 25px;
    line-height: 2.3rem; }
  #send-message button {
    background: #F79F1F;
    height: 50px;
    width: 150px;
    font-size: 1.4rem;
    box-shadow: 0 0 25px rgba(247, 159, 31, 0.9); }

#products-header .carousel-control-prev-icon, #products-header .carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.3);
  width: 30px;
  height: 30px;
  background-size: 60%, 100%;
  border-radius: 50%; }

#products-header .thumbnail li {
  padding-top: 100px; }

#products-header .thumbnail li img {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  box-shadow: 0 0 25px rgba(247, 159, 31, 0.4); }

#products-header .thumbnail li img:hover {
  cursor: pointer;
  border: 2px solid #F79F1F;
  box-shadow: none; }

#products-header .name-rating {
  font-size: 13px; }

#products-header .border_left {
  border-left: 4px solid #a6a6a6; }

.ddr {
  font-size: 21px;
  position: relative; }

.badge:after {
  content: attr(data-count);
  position: absolute;
  text-align: center;
  background: #F79F1F;
  top: -6px;
  right: -5px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #fff;
  border-radius: 50%;
  font-family: sans-serif;
  font-weight: bold; }

#order-menu .border-step-current {
  color: #F79F1F !important;
  text-shadow: 5px 2px 15px rgba(44, 62, 80, 0.5); }

#order-menu .order-help {
  text-shadow: 2px 1px #000;
  background: rgba(44, 62, 80, 0.9); }

#order-menu .order-step {
  background: rgba(44, 62, 80, 0.2); }

#order-menu .order-badge {
  font-size: 21px;
  color: #343a40;
  position: relative; }

#order-menu .badge:after {
  content: attr(data-count);
  position: absolute;
  text-align: center;
  background: #F79F1F;
  top: 120%;
  right: 40%;
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 18px;
  color: #fff;
  border-radius: 50%;
  font-family: sans-serif;
  font-weight: bold; }

#order-menu .badge:hover {
  cursor: context-menu;
  color: #343a40; }

#products-list img {
  width: 180px;
  height: 150px; }

#products-list hr {
  border-top: 3px solid #a6a6a6; }

#products-list .order-summary-border {
  border: 5px solid #fff; }

#payment-method img {
  width: 100px;
  height: 60px; }

#payment-method .borderss {
  border: 2px solid red; }

#order-page-info {
  background: #f2f2f2; }
  #order-page-info h2 {
    text-shadow: 0 0 25px rgba(247, 159, 31, 0.5); }
  #order-page-info input, #order-page-info select {
    height: 60px;
    border-radius: 25px 25px 25px 25px; }
