// font
@import url('https://fonts.googleapis.com/css?family=Proza+Libre:400,600,700&display=swap');
 *{
   margin: 0;
   padding: 0;
   text-decoration: none;
   font-family: 'Proza Libre', sans-serif;
 }

$primary-overlay: rgba(0, 0, 0, 0.8);

@media(max-width:991px){
  .xm-none{
    display: none;
  }
}
@media(max-width:767px){
  #top-navbar
  {
    display: none;
  }
  .toggle-btn{
    background-color: #ffff;
  }
  #top-overlay h1{
    font-size: 4rem;
  }
}
@media(max-width:576px){
  #top-navbar
  {
    display: none;
  }
  .toggle-btn{
    background-color: #ffff;
  }
  #top-overlay h1{
    font-size: 3rem;
  }

}
@media(max-width:375px){
}

 body{
   background-color: #f1f1f1;
   a:hover{
     color: #F79F1F;
   }
 }

 .sidebar-container{
   position: fixed;
   top:0;
   left:-250px;
   width: 250px;
   height: 100%;
   background-color: #2c3e50;
   transition:.3s;
   z-index: 100;
 }

 ul{
   margin:0;
 }

 li{
   padding:20px 0px;
   list-style-type: none;
 }
 .sidebar li a:hover{
   color: #F79F1F;
   font-size: 15px;
   transition-duration: .3s;
   transition-timing-function: cubic-bezier(0, 0, 0.58, 3);
 }
 .sidebar li a{
   color: #fff;
   display:block;
   text-decoration: none;
   text-transform: capitalize;

 }

 a:hover{
   color:#ccc;
 }

 .toggle-btn{
   position: absolute;
   top:2px;
   right: -50px;
   width:50px;
   height:50px;
   box-sizing:border-box;
   cursor: pointer;
   border:none;
 }

 .sidebar-span{
   display:block;
   width:30px;
   height: 3px;
   position:absolute;
   top:25px;
   left:10px;
   transition:.3s;
   background-color: #000;
 }

 .sidebar-span:before{
   content:"";
   display:block;
   width:30px;
   height: 3px;
   position:absolute;
   top:-10px;
   left:0px;
   transition:.3s;
   background-color: #000;
 }

 .sidebar-span:after{
   content:"";
   display:block;
   width:30px;
   height: 3px;
   position:absolute;
   top:10px;
   left:0px;
   transition:.3s;
   background-color: #000;
 }

 .active{
   left:0;
 }

 .toggle-btn.toggle .sidebar-span{
   background-color: transparent;
 }

 .toggle-btn.toggle .sidebar-span:before{
   top:0;
   background-color: red;
   transform: rotate(45deg);
 }

 .toggle-btn.toggle .sidebar-span:after{
   top:0;
   background-color: red;
   transform: rotate(-45deg);
 }
#submenu1{
  background: #2f3542;
}

// top navbar
.navbar{
  height: 100px;
  background: #2c3e50;
  opacity: 0.9;
  position: relative;
  z-index: 99;
  .nav-item{
    font-size: 1.2rem;
    padding-right: 20px;
    .nav-link{
      color: #ffff;
    }
    .nav-link:hover{
      color: #F79F1F;
    }
  }
  .nav-item:last-child{
    padding-right: 0;
  }
  .logo{
    width: 120px;
    height: 70px;
  }
  .top-dropdown{
    background: #2c3e50;

    .top-dropdown-item{
      color: #ffff;
    }

    .top-dropdown-item:hover{
      background: #2c3e50;
      color: #F79F1F;
    }
  }
}
// top wooder overlay

 #top-overlay{
  background-image: url('../img/bg1.png');
  min-height: 600px;
  position: relative;
  background-repeat: no-repeat;
  background: cover;
  background-size: cover;
  .primary-overlay{
    background: $primary-overlay;
    min-height: 600px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
  }
  .btn-outline-light:focus {
      box-shadow: none;
  }
}
#furniture{

  p{
    font-size: 1.2rem;
  }
}
#quality{
  background: #fff;
  img{
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 2px solid #F79F1F;
    position: relative;
  }
  .video-icon{
      left: 50%;
      color: rgba(255, 255, 255, 0.8);
      position: absolute;
      top: 35%;
      font-size: 2rem
  }
    .video-icon:hover{
    color: rgba(255, 0, 0, 0.7);
  }
}

#video-overlay{
  background-image: url('../img/bg1.png');
  min-height: 700px;
  position: relative;
  background-repeat: no-repeat;
  background: cover;
  background-size: cover;
  .primary-overlay{
    background: $primary-overlay;
    min-height: 700px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
  }
}
.video-section{
  .border-box{
    border: 1px solid #fbcb84;
    margin-top: 120px;
  }

  h2{
   color: #fbcb84;
   font-size: 2rem;
   font-weight: 600;
  letter-spacing: 1px;
  line-height: 2.5rem;
 }
  i{
    font-size: 1.5rem;
  }
  p{
    font-size: 1.1rem;
  }
}
#about-us{
  font-size: 1.2rem;
  .about-us-img{
    border-radius: 0.3rem;
  }
}
#footer{
  background-color: #000;
  .footer-logo{
    width: 100px;
    height: 80px;
  }
}
