@import url("https://fonts.googleapis.com/css?family=Proza+Libre:400,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Proza Libre', sans-serif; }

@media (max-width: 991px) {
  .xm-none {
    display: none; } }

@media (max-width: 767px) {
  #top-navbar {
    display: none; }
  .toggle-btn {
    background-color: #ffff; }
  #top-overlay h1 {
    font-size: 4rem; } }

@media (max-width: 576px) {
  #top-navbar {
    display: none; }
  .toggle-btn {
    background-color: #ffff; }
  #top-overlay h1 {
    font-size: 3rem; } }

body {
  background-color: #f1f1f1; }
  body a:hover {
    color: #F79F1F; }

.ss {
  width: 200px;
  height: 140px; }

.sidebar-container {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #2c3e50;
  transition: .3s;
  z-index: 100; }

ul {
  margin: 0; }

li {
  padding: 20px 0px;
  list-style-type: none; }

.sidebar li a:hover {
  color: #F79F1F;
  font-size: 15px;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 3); }

.sidebar li a {
  color: #fff;
  display: block;
  text-decoration: none;
  text-transform: capitalize; }

a:hover {
  color: #ccc; }

.toggle-btn {
  background-color: rgba(225, 255, 255, 0.3);
  position: absolute;
  top: 2px;
  right: -50px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  cursor: pointer;
  border: none; }

.sidebar-span {
  display: block;
  width: 30px;
  height: 3px;
  position: absolute;
  top: 25px;
  left: 10px;
  transition: .3s;
  background-color: #000; }

.sidebar-span:before {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  position: absolute;
  top: -10px;
  left: 0px;
  transition: .3s;
  background-color: #000; }

.sidebar-span:after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  position: absolute;
  top: 10px;
  left: 0px;
  transition: .3s;
  background-color: #000; }

.active {
  left: 0; }

.toggle-btn.toggle .sidebar-span {
  background-color: transparent; }

.toggle-btn.toggle .sidebar-span:before {
  top: 0;
  background-color: red;
  transform: rotate(45deg); }

.toggle-btn.toggle .sidebar-span:after {
  top: 0;
  background-color: red;
  transform: rotate(-45deg); }

#submenu1 {
  background: #2f3542; }

.navbar {
  height: 100px;
  background: #2c3e50;
  opacity: 0.9;
  position: relative;
  z-index: 99; }
  .navbar .nav-item {
    font-size: 1.2rem;
    padding-right: 20px; }
    .navbar .nav-item .nav-link {
      color: #ffff; }
    .navbar .nav-item .nav-link:hover {
      color: #F79F1F; }
  .navbar .nav-item:last-child {
    padding-right: 0; }
  .navbar .logo {
    width: 120px;
    height: 70px; }
  .navbar .top-dropdown {
    background: #2c3e50; }
    .navbar .top-dropdown .top-dropdown-item {
      color: #ffff; }
    .navbar .top-dropdown .top-dropdown-item:hover {
      background: #2c3e50;
      color: #F79F1F; }

#top-overlay {
  background-image: url("../img/bg1.png");
  min-height: 600px;
  position: relative;
  background-repeat: no-repeat;
  background: cover;
  background-size: cover; }
  #top-overlay .primary-overlay {
    background: rgba(0, 0, 0, 0.8);
    min-height: 600px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%; }
  #top-overlay .btn-outline-light:focus {
    box-shadow: none; }

#furniture p {
  font-size: 1rem; }

#quality {
  background: #fff; }
  #quality p {
    font-size: 1rem; }
  #quality img {
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 2px solid #F79F1F;
    position: relative; }
  #quality .video-icon {
    left: 50%;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 35%;
    font-size: 2rem; }
  #quality .video-icon:hover {
    color: rgba(255, 0, 0, 0.7); }

#video-overlay {
  background-image: url("../img/bg1.png");
  min-height: 700px;
  position: relative;
  background-repeat: no-repeat;
  background: cover;
  background-size: cover; }
  #video-overlay .primary-overlay {
    background: rgba(0, 0, 0, 0.8);
    min-height: 700px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%; }
  #video-overlay .btn-outline-light:focus {
    box-shadow: none; }

.video-section .border-box {
  border: 1px solid #fbcb84;
  margin-top: 120px; }

.video-section h2 {
  color: #fbcb84;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2.5rem; }

.video-section i {
  font-size: 1.5rem; }

.video-section p {
  font-size: 1.1rem; }

#about-us {
  font-size: 1rem; }
  #about-us .about-us-img {
    border-radius: 0.3rem; }

#footer {
  background-color: #000; }
  #footer .footer-logo {
    width: 100px;
    height: 80px; }
